In [2]:
import re
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as BS

In [3]:
url = 'https://keeptradecut.com/dynasty-rankings?page=0&filters=QB|WR|RB|TE|RDP&format=2#'
response = requests.get(url)
response

In [4]:
soup = BS(response.content)

In [5]:
tags = ['div', 'a'] # a attribute href
classes = ['onePlayer', 'playerName', 'position', 'age', ]

In [6]:
playerline = soup.find('div', 'onePlayer')

In [7]:
# extract variables for a single player line

playerline = soup.find('div', 'onePlayer')
rank = int(playerline.find('div', {'class':'rank-number'}).find('p').text)
player = playerline.find('a').text
playerhref = playerline.find('a')['href']
positionrank = playerline.find('p', {'class':'position'}).text
teamabv = playerline.find('span', {'class' : 'player-team'}).text
agemessy = playerline.find('span', {'class' : None}).text
age = int(re.search('(\d{2})', agemessy)[0])
overalltier = playerline.find('div', 'player-info').find('p').text
value = int(playerline.find('div', {'class':'value'}).find('p').text)
print(age)

26

In [8]:
# Tinker with list-comprehension option
playerlines = soup.find_all('div', 'onePlayer')
[int(playerline.find('div', {'class':'rank-number'}).find('p').text) for playerline in playerlines]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 375]

In [9]:
# Readable construction of dynasty-rankings dataframe

# values lists
playerline_list = []
rank_list = []
player_list = []
playerhref_list = []
positionrank_list = []
teamabv_list = []
agemessy_list = []
age_list = []
overalltier_list = []
value_list = []

# Relevant divs
playerlines = soup.find_all('div', 'onePlayer')

for playerline in playerlines:
    
    # Grab current line's relevant player data
    rank = int(playerline.find('div', {'class':'rank-number'}).find('p').text)
    player = playerline.find('a').text
    playerhref = 'https://keeptradecut.com'+playerline.find('a')['href']
    positionrank = playerline.find('p', {'class':'position'}).text
    teamabv = playerline.find('span', {'class' : 'player-team'}).text
    agemessy = playerline.find('span', {'class' : None}).text
    #age = int(re.search('(\d{2})', agemessy)[0])
    overalltier = playerline.find('div', 'player-info').find('p').text
    value = int(playerline.find('div', {'class':'value'}).find('p').text)
    
    # Append current line's data to value lists
    rank_list.append(rank)
    player_list.append(player)
    playerhref_list.append(playerhref)
    positionrank_list.append(positionrank)
    teamabv_list.append(teamabv)
    #agemessy_list.append(agemessy)
    age_list.append(agemessy)
    overalltier_list.append(overalltier)
    value_list.append(value)
    
# dict for df construction
rankings_dict = {
    'rank':rank_list,
    'player':player_list,
    'playerhref':playerhref_list,
    'positionrank':positionrank_list,
    'teamabv':teamabv_list,
    'age':age_list,
    'overalltier':overalltier_list,
    'value':value_list
}

# Convert to DataFrame
dynasty_ranks = pd.DataFrame(rankings_dict)

In [10]:
dynasty_ranks

,rank,player,playerhref,positionrank,teamabv,age,overalltier,value
0,1,Patrick Mahomes,https://keeptradecut.com/dynasty-rankings/play...,QB1,KCC,26 y.o. –,Tier 1,9999
1,2,Josh Allen,https://keeptradecut.com/dynasty-rankings/play...,QB2,BUF,25 y.o. –,Tier 1,9878
2,3,Jonathan Taylor,https://keeptradecut.com/dynasty-rankings/play...,RB1,IND,22 y.o. –,Tier 1,9866
3,4,Justin Herbert,https://keeptradecut.com/dynasty-rankings/play...,QB3,LAC,23 y.o. –,Tier 1,9830
4,5,Justin Jefferson,https://keeptradecut.com/dynasty-rankings/play...,WR1,MIN,22 y.o. –,Tier 2,9200
...,...,...,...,...,...,...,...,...
368,369,Greg Dortch,https://keeptradecut.com/dynasty-rankings/play...,WR134,ARI,23 y.o. –,Tier 21,43
369,370,Giovani Bernard,https://keeptradecut.com/dynasty-rankings/play...,RB106,TBB,30 y.o. –,Tier 21,36
370,371,Brandon Bolden,https://keeptradecut.com/dynasty-rankings/play...,RB107,NEP,31 y.o. –,Tier 21,33
371,372,David Moore,https://keeptradecut.com/dynasty-rankings/play...,WR135,FA,26 y.o. –,Tier 21,1
372,375,Josh Oliver,https://keeptradecut.com/dynasty-rankings/play...,TE65,BAL,24 y.o. –,Tier 21,0

In [11]:
url = 'https://keeptradecut.com/dynasty-rankings/players/jonathan-taylor-634'
response = requests.get(url)
response

In [12]:
soup = BS(response.content)

In [13]:
card = soup.find('div', {'class':'pd-measurables'})
playername = 'Jonathan Taylor'
player_attributes = pd.DataFrame({'name':[f'{playername}' for rowtitle in card.find_all('p', {'class':'row-title'})],
                                 'attribute':[rowtitle.text.strip('\n\t') for rowtitle in card.find_all('p', {'class':'row-title'})],
                                 'value':[rowvalue.text.strip('\n\t') for rowvalue in card.find_all('p', {'class':'row-value'})]}
                                )
player_attributes

              name    attribute         value
0  Jonathan Taylor          Age       22 y.o.
1  Jonathan Taylor         Born     1/19/1999
2  Jonathan Taylor       Height        5' 11"
3  Jonathan Taylor       Weight      221 lbs.
4  Jonathan Taylor      Drafted  Rd.2, Pick 9
5  Jonathan Taylor  Draft Class          2020
6  Jonathan Taylor    Yrs. Exp.        2 yrs.
7  Jonathan Taylor      College     Wisconsin

In [14]:
player_attributes.pivot(index = 'name',
                        columns = 'attribute',
                        values = 'value')

attribute,Age,Born,College,Draft Class,Drafted,Height,Weight,Yrs. Exp.
name,,,,,,,,
Jonathan Taylor,22 y.o.,1/19/1999,Wisconsin,2020,"Rd.2, Pick 9","5' 11""",221 lbs.,2 yrs.